*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.boxes{
    background: linear-gradient(to top,rgb(109, 66, 10)0%,rgb(201, 228, 84)100%) ;
}
.input{
    background-color: rgb(80, 221, 144);
    height: 60px;
    width: 600px;
    position: absolute;
    top: 30px;
    right: 400px;
    border-radius: 10px;
    border-color: rgb(14, 104, 59);
    border-style: dashed;
    cursor: pointer;
    margin: 70px;
    font-size: 20px;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px;
}
#card{
    padding: 10px;
    margin: 5px;
    background-color: rgb(27, 112, 55);
    text-align: center;
    border: rgb(4, 51, 18) 4px  solid;
    border-radius: 10px;
    font-family: 'Rampart One', cursive;
    font-size: 24px;
    cursor: pointer;

}
.image{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}
#card:active,
#card:hover{
    background-color: rgb(239,241,113);
    border-style: dotted;
}
.input:hover,
.input:active{
    background-color: rgb(239, 241, 113);

}
